/out/
/CodeReady Containers.xcodeproj/xcshareddata/
/CodeReady Containers.xcodeproj/xcuserdata/
/CodeReady Containers.xcodeproj/project.xcworkspace/xcshareddata/
/CodeReady Containers.xcodeproj/project.xcworkspace/xcuserdata/
